<!--
# vim: et:ts=4:sw=4 
-->
{% extends "layout.html" %}

{% block heading %}
    <meta charset="utf-8">
    <title>D3 Testing</title>
    <script type="text/javascript" src="static/js/d3-6.2.0.js"></script>
    <script type="text/javascript" src="static/js/jquery-3.5.1.js"></script>
{% endblock %}

{% block body %}
        <!-- 
        ---- BODY HTML
        --->
        <h3>Test of D3 Stuff</h1>

        <div id="dataupdate-container">
            <div id="data-source-selection-container">
                <!-- Radio buttons for data source, either sample or Slurm cluster -->
                <input type="radio" id="data-source-1" name="data-source" value="Sample Data" checked>
                <label for="data-source-1">Sample Data</label>
                <input type="radio" id="data-source-2" name="data-source" value="Real Data">
                <label for="data-source-2">Real Data</label><br><br>
            </div>
            <div id="real-selection-container">
                <h3>Test</h1>
                <!-- Submit button -->
                <button id="update-data-button" value="Update">Update</button>
            </div>
            <div id="sample-selection-container">
                <!-- Radio buttons for data source sample presets -->
                <input type="radio" id="sample-data-selection-1" name="data-selection" value="custom" checked>
                <label for="sample-data-selection-1">custom</label><br>
                <input type="radio" id="sample-data-selection-2" name="data-selection" value="idle">
                <label for="sample-data-selection-2">idle</label><br>
                <input type="radio" id="sample-data-selection-3" name="data-selection" value="small-short-full">
                <label for="sample-data-selection-3">small-short-full</label><br>
                <input type="radio" id="sample-data-selection-4" name="data-selection" value="large-head-long-small-tail">
                <label for="sample-data-selection-4">large-head-long-small-tail</label><br>
                <input type="radio" id="sample-data-selection-5" name="data-selection" value="large-head-long-small-tail-backfill-drain-gap">
                <label for="sample-data-selection-5">large-head-long-small-tail-backfill-drain-gap</label><br>
                <input type="radio" id="sample-data-selection-6" name="data-selection" value="large-head-long-small-tail-backfill-gap-filled-jobs-running">
                <label for="sample-data-selection-5">large-head-long-small-tail-backfill-gap-filled-jobs-running</label><br>
                <input type="radio" id="sample-data-selection-7" name="data-selection" value="arbitrary-random">
                <label for="sample-data-selection-7">arbitrary-random</label><br>
                <input type="radio" id="sample-data-selection-8" name="data-selection" value="dependent-jobs-tail">
                <label for="sample-data-selection-8">dependent-jobs-tail</label><br>
                <input type="radio" id="sample-data-selection-9" name="data-selection" value="tester">
                <label for="sample-data-selection-9">tester</label><br>
                <!-- Custom data source input -->
                <label for="filename">File:</label>
                <input type="text" id="update-data-input" name="update-data" value="201005.1648/5.large-head-long-small-tail-backfill-gap-filled-jobs-running"><br><br>
                <!-- Submit button -->
                <button id="update-datafile-button" value="Update">Update</button>
            </div>
        </div>
        <div id="datavis-container">
        </div>
        <!-- 
        ---- /BODY HTML
        --->

        <script type="text/javascript">
            /*
             * Variables
             */
            // The raw data to visualize
            var dataset;
            // Drawing dimensions
            var width  = 450;
            var height = 450;
            var margin = 40;
            // Piechart radius
            var inner_radius = 0;
            var outer_radius = Math.min(width, height)/2 - margin;
            // SVG object
            var svg;
            // Piechart data
            var pie_data;
            // Colors to use for the piechart
            var color;
            // Compute the position of each pie group
            var pie = d3.pie()
            	.value(function(d){ return d.value; });
            // Path generator function for use with pie data
            var arc = d3.arc()
                .innerRadius(inner_radius)
                .outerRadius(outer_radius);
            // Placeholder for arc paths to be generated
            var arcs;
            // List of colors to use
            var colors = ["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56"];

            /*
             * Functions
             */
            // Function to get sample data from server and present it
            var fetchSampleData = function(source) {
                    $.ajax({
                        url: "/api/v0/fetch/examples",
                        data: {
                            filename: source 
                        },
                        success: function(result) {
                            if( result ) {
                                updateData(result);
                            } else {
                                console.log("Result is null");
                                console.log(result);
                            }
                        },
                        fail: function(result) {
                            console.log(result);
                        }
                    });
            };
            // Function to get qstat data from server and present it
            var fetchRealData = function(source) {
                    $.ajax({
                        url: "/api/v0/fetch/newdata/arbitrary-random",
                        data: {
                            filename: source 
                        },
                        success: function(result) {
                            if( result ) {
                                updateData(result);
                            } else {
                                console.log("Result is null");
                                console.log(result);
                            }
                        },
                        fail: function(result) {
                            console.log(result);
                        }
                    });
            };
            // Function to initialize data when page is first loaded
            var initData = function() {
                dataset = JSON.parse({{ d3_dataset|tojson }});
                // Process pie-specific data
                pie_data = [
                    {"label": "running", "value": dataset.qrunning.length},
                    {"label": "pending", "value": dataset.qpending.length},
                    {"label": "blocked", "value": dataset.qblocked.length}
                ];
                // Draw SVG area
                svg = d3.select("#datavis-container")
                    .append("svg")
                        .attr("width", width)
                        .attr("height", height)
                    .append("g")
                        .attr("transform", "translate(" + outer_radius + ", " + outer_radius + ")"); // Shift group over and down by outer radius
                updateData(dataset);
            };
            // Function to update dataset (called after request to server)
            var updateData = function(newdata) {
                dataset = newdata;
                // Process pie-specific data
                pie_data = [
                    {"label": "running", "value": dataset.qrunning.length},
                    {"label": "pending", "value": dataset.qpending.length},
                    {"label": "blocked", "value": dataset.qblocked.length}
                ];
                // Check for case of no jobs
                if( pie_data[0].value == pie_data[1].value && pie_data[1].value == pie_data[2].value && pie_data[2].value == 0 ){
                    pie_data = [
                        {"label": "no jobs", "value": 1}
                    ];
                }
                // Define colors to use
                color = d3.scaleOrdinal()
                    .domain(pie_data.map(function(d){ return d.value; }))
                    .range(colors);
                // Create groups per pie wedge
                arcs = svg.selectAll("g.arc")
                    .data(pie(pie_data)); // Use generated pie data for wedge groups
                // Draw arc paths
                arcs
                    .enter()
                    .append("path")
                    .attr("class", "arc")
                    .attr("fill", function(d, i) {
                        return color(i); // Color is dependent on index of category (queue)
                    })
                    .attr("d", arc) // Use the arc function to generate the path
                // Generate text labels
                arcs
                    .enter()
                    .append("text")
                    .attr("transform", function(d) {
                        return "translate(" + arc.centroid(d) + ")"; // Put text at mathematical center of wedge
                    })
                    .attr("text-anchor", "middle") // Anchor text at the middle of it
                    .text(function(d) {
                        if( d.value > 0 ) {
                            return d.data.label; // We must use .value because we converted to pie data
                        } else {
                            return;
                        }
                    });
            };

            /*
             * Operation
             */
            // Get data from server and present it
            initData();

            jQuery(document).ready(function() {
                /*
                 * Event Handlers
                 */
                // Update data if example update button clicked
                $( "#update-datafile-button" )
                    .on( "click", function() {
                        var radio_val = $( "input[name='data-selection']:checked").val();
                        var source;
                        var prefix = "201005.1648/";
                        if( radio_val ){
                            switch( radio_val ){
                                case "custom":
                                    source = document.getElementById("update-data-input").value;
                                    break;
                                case "idle":
                                    source = prefix + "1.idle";
                                    break;
                                case "small-short-full":
                                    source = prefix + "2.small-short-full";
                                    break;
                                case "large-head-long-small-tail":
                                    source = prefix + "3.large-head-long-small-tail";
                                    break;
                                case "large-head-long-small-tail-backfill-drain-gap":
                                    source = prefix + "4.large-head-long-small-tail-backfill-drain-gap";
                                    break;
                                case "large-head-long-small-tail-backfill-gap-filled-jobs-running":
                                    source = prefix + "5.large-head-long-small-tail-backfill-gap-filled-jobs-running";
                                    break;
                                case "arbitrary-random":
                                    source = prefix + "6.arbitrary-random";
                                    break;
                                case "dependent-jobs-tail":
                                    source = prefix + "7.dependent-jobs-tail";
                                    break;
                                case "tester":
                                    source = prefix + "tester";
                                    break;
                                default:
                                    console.log("Unknown option: " + radio_val);
                                    return;
                            }
                        }
                        fetchSampleData(source);
                    });
                // Update data if real update button clicked
                $( "#update-data-button" )
                    .on( "click", function() {
                        fetchRealData();
                    });
                $( 'input:radio[name="data-source"]' ).change(function() {
                    if( $(this).val() == "Real Data" ){
                        $( "#sample-selection-container" ).hide();
                        $( "#real-selection-container" ).show();
                    } else if( $(this).val() == "Sample Data" ){
                        $( "#sample-selection-container" ).show();
                        $( "#real-selection-container" ).hide();
                    }});
            });             
        </script>
{% endblock %}
