<!--
# vim: et:ts=4:sw=4 
-->
{% extends "layout.html" %}

{% block heading %}
    <meta charset="utf-8">
    <title>D3 Testing</title>
    <script type="text/javascript" src="static/js/d3-6.2.0.js"></script>
    <script type="text/javascript" src="static/js/jquery-3.5.1.js"></script>
{% endblock %}

{% block body %}
        <!-- 
        ---- BODY HTML
        --->
        <h1>SlurmVis</h1>

        <div id="dataupdate-container">
            <div id="data-source-selection-container">
                <p>Select which source of data to use. "Sample Data" is for example logfiles that already exist on the Flask app. "Real Data" is for generating logfiles on a qstats-enabled Slurm cluster.</p>
                <!-- Radio buttons for data source, either sample or Slurm cluster -->
                <input type="radio" id="data-source-1" name="data-source" value="Sample Data">
                <label for="data-source-1">Sample Data</label>
                <input type="radio" id="data-source-2" name="data-source" value="Real Data" checked>
                <label for="data-source-2">Real Data</label><br><br>
            </div>
            <div id="real-selection-container">
                <p>Gather data from Slurm server.</p>
                <!-- Submit button -->
                <button id="update-data-button" value="Update">Update</button>
                <div id="loading-status-container" class="modal"></div>
            </div>
            <div id="sample-selection-container">
                <p>Choose a sample file to visualize.</p>
                <!-- Radio buttons for data source sample presets -->
                <input type="radio" id="sample-data-selection-1" name="data-selection" value="custom" checked>
                <label for="sample-data-selection-1">custom</label><br>
                <input type="radio" id="sample-data-selection-2" name="data-selection" value="idle">
                <label for="sample-data-selection-2">idle</label><br>
                <input type="radio" id="sample-data-selection-3" name="data-selection" value="small-short-full">
                <label for="sample-data-selection-3">small-short-full</label><br>
                <input type="radio" id="sample-data-selection-4" name="data-selection" value="large-head-long-small-tail">
                <label for="sample-data-selection-4">large-head-long-small-tail</label><br>
                <input type="radio" id="sample-data-selection-5" name="data-selection" value="large-head-long-small-tail-backfill-drain-gap">
                <label for="sample-data-selection-5">large-head-long-small-tail-backfill-drain-gap</label><br>
                <input type="radio" id="sample-data-selection-6" name="data-selection" value="large-head-long-small-tail-backfill-gap-filled-jobs-running">
                <label for="sample-data-selection-5">large-head-long-small-tail-backfill-gap-filled-jobs-running</label><br>
                <input type="radio" id="sample-data-selection-7" name="data-selection" value="arbitrary-random">
                <label for="sample-data-selection-7">arbitrary-random</label><br>
                <input type="radio" id="sample-data-selection-8" name="data-selection" value="dependent-jobs-tail">
                <label for="sample-data-selection-8">dependent-jobs-tail</label><br>
                <input type="radio" id="sample-data-selection-9" name="data-selection" value="tester">
                <label for="sample-data-selection-9">tester</label><br>
                <!-- Custom data source input -->
                <label for="filename">File:</label>
                <input type="text" id="update-data-input" name="update-data" value="201005.1648/5.large-head-long-small-tail-backfill-gap-filled-jobs-running"><br><br>
                <!-- Submit button -->
                <button id="update-datafile-button" value="Update">Update</button>
            </div>
        </div>
        <div id="datavis-container">
        </div>
        <!-- 
        ---- /BODY HTML
        --->

        <script type="text/javascript">
            /*
             * Variables
             */
            // The raw data to visualize
            var dataset; // All data to work with
            //// Drawing dimensions
            //var width  = 450;
            //var height = 450;
            //var margin = 40;
            // Schedule variables
            var margin = {top: 20, right: 15, bottom: 15, left: 60}
              , width = 960 - margin.left - margin.right
              , height = 500 - margin.top - margin.bottom;
            var jobs_pending_times;  // Will hold an array of pending jobs
            var jobs_running_times;  // Will hold an array of running jobs
            var all_known_jobs;      // Will hold an array of known pending and running jobs 
            var last_qeval;          // Will hold time of last schedule evaluation
            var lane_height = 25; // Height of a lane
            var job_pad = 5;   // Spacing between a job rect and lane separator once data is retrieved
            var job_height;     // Will hold the height of a job rect once data is retrieved
            var jobIdScale;     // Scale to convert JobId to lane id
            var timeScale;      // Scale to convert job duration to horizontal length
            var lanes;          // Will hold an array of lanes, each with an id
            var xaxis_pad = 50; // Padding for X axis
            var yaxis_pad = 50; // Padding for Y axis
            var ext;            // Will hold a helper function for laneScale once lanes are defined
            var laneScale;      // Scale to convert lane ID to vertical distance
            var num_ticks = 7;  // The number of ticks per axis
            var xAxisTop;       // Will hold the top X axis function once data is retrieved
            var xAxisBottom;    // Will hold the bottom X axis function once data is retrieved
            var main_graph;     // Will hold the main schedule graph elements
            var pending_rects;  // Will hold the actual pending job rects
            var running_rects;  // Will hold the actual running job rects
            var lane_lines;     // Will hold all generated lane lines
            var xaxis_top;      // Will hold the drawn top X axis
            var xaxis_bottom;   // Will hold the drawn bottom X axis
            // Piechart radius
            var inner_radius = 0;
            var outer_radius = Math.min(width, height)/2 - margin;
            // SVG object
            var pie_svg;
            // Piechart data
            var pie_data;
            // Colors to use for the piechart
            var color;
            // Compute the position of each pie group
            var pie = d3.pie()
            	.value(function(d){ return d.value; });
            // Path generator function for use with pie data
            var arc = d3.arc()
                .innerRadius(inner_radius)
                .outerRadius(outer_radius);
            // Placeholder for arc paths to be generated
            var arcs;
            // List of colors to use
            var colors = ["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56"];

            /*
             * Functions
             */
            // Function to parse Slurm timestamps
            var parseTime = d3.timeParse("%Y-%m-%dT%H:%M:%S");            
            // Function to add Slurm time difference to date
            var addTimeDelta = function(dateobj, deltastr){
                var newdateobj = new Date();
                var vals = deltastr.split(":");
                var hrs = parseInt(vals[0]);
                var mins = parseInt(vals[1]);
                var secs = parseInt(vals[2]);
                newdateobj.setFullYear(dateobj.getFullYear(), dateobj.getMonth(), dateobj.getDate());
                newdateobj.setHours(dateobj.getHours() + hrs);
                newdateobj.setMinutes(dateobj.getMinutes() + mins);
                newdateobj.setSeconds(dateobj.getSeconds() + secs);
                return newdateobj;
            }
            // Function to get number of needed lanes, given an array of jobs
            var getNumLanes = function(jobs){
                var num_lanes = 0;
                var map = new Map();
                for( var item of jobs ){
                    if( !map.has(item.JobId) ){
                        map.set(item.JobId, true);
                        num_lanes = num_lanes + 1;
                    }
                }
                return num_lanes;
            };
            // Function to print time tick labels
            var formatTickTime = d3.timeFormat("%H:%M:%S");
            // Function to get sample data from server and present it
            var fetchSampleData = function(source) {
                    $.ajax({
                        url: "/api/v0/fetch/examples",
                        data: {
                            filename: source 
                        },
                        success: function(result) {
                            if( result ) {
                                updateData(result);
                            } else {
                                console.log("Result is null");
                                console.log(result);
                            }
                        },
                        fail: function(result) {
                            console.log(result);
                        }
                    });
            };
            // Function to get qstat data from server and present it
            var fetchRealData = function(source) {
                    $.ajax({
                        url: "/api/v0/fetch/newdata/arbitrary-random",
                        data: {
                            filename: source 
                        },
                        success: function(result) {
                            if( result ) {
                                updateData(result);
                            } else {
                                console.log("Result is null");
                                console.log(result);
                            }
                        },
                        fail: function(result) {
                            console.log(result);
                        }
                    });
            };
            // Function to get lanes, given an array of jobs
            var getLanes = function(jobs){
                var lanes = [];
                var iter = 0;
                var map = new Map();
                for( var item of jobs ){
                    if( !map.has(item.JobId) ){
                        map.set(item.JobId, true);
                        lanes.push({
                            id: iter,
                            JobId: item.JobId
                        });
                        iter = iter + 1;
                    }
                }
                lanes.push({ id: iter, JobId: "" });
                return lanes;
            };
            // Function to initialize data when page is first loaded
            var initData = function() {
                // Gather initial data
                dataset = JSON.parse({{ d3_dataset|tojson }});

                /*
                 * PIE CHART
                 */
                //// Process pie-specific data
                //pie_data = [
                //    {"label": "running", "value": dataset.qrunning.length},
                //    {"label": "pending", "value": dataset.qpending.length},
                //    {"label": "blocked", "value": dataset.qblocked.length}
                //];
                //// Draw Pie SVG area
                //pie_svg = d3.select("#datavis-container")
                //    .append("svg")
                //        .attr("width", width)
                //        .attr("height", height)
                //    .append("g")
                //        .attr("transform", "translate(" + outer_radius + ", " + outer_radius + ")"); // Shift group over and down by outer radius
                //// Process pie-specific data
                //pie_data = [
                //    {"label": "running", "value": dataset.qrunning.length},
                //    {"label": "pending", "value": dataset.qpending.length},
                //    {"label": "blocked", "value": dataset.qblocked.length}
                //];
                //// Check for case of no jobs
                //if( pie_data[0].value == pie_data[1].value && pie_data[1].value == pie_data[2].value && pie_data[2].value == 0 ){
                //    pie_data = [
                //        {"label": "no jobs", "value": 1}
                //    ];
                //}
                //// Define colors to use
                //color = d3.scaleOrdinal()
                //    .domain(pie_data.map(function(d){ return d.value; }))
                //    .range(colors);
                //// Create groups per pie wedge
                //arcs = pie_svg.selectAll("g.arc")
                //    .data(pie(pie_data)); // Use generated pie data for wedge groups
                //// Draw arc paths
                //arcs
                //    .enter()
                //    .append("path")
                //    .attr("class", "arc")
                //    .attr("fill", function(d, i) {
                //        return color(i); // Color is dependent on index of category (queue)
                //    })
                //    .attr("d", arc) // Use the arc function to generate the path
                //// Generate text labels
                //arcs
                //    .enter()
                //    .append("text")
                //    .attr("transform", function(d) {
                //        return "translate(" + arc.centroid(d) + ")"; // Put text at mathematical center of wedge
                //    })
                //    .attr("text-anchor", "middle") // Anchor text at the middle of it
                //    .text(function(d) {
                //        if( d.value > 0 ) {
                //            return d.data.label; // We must use .value because we converted to pie data
                //        } else {
                //            return;
                //        }
                //    });

                /*
                 * SCHEDULE GRAPH
                 */
                // Process pending scheduling data
                jobs_pending_times = { known: [], unknown: [] };
                dataset.qpending.forEach(function(d){
                    if( d.EligibleTime != "Unknown" ){
                        jobs_pending_times.known.push({ 
                            JobId: d.JobId,
                            EligibleTime: parseTime(d.EligibleTime),
                            MaxFinish: addTimeDelta(parseTime(d.EligibleTime), d.TimeLimit)
                        });
                    } else {
                        jobs_pending_times.unknown.push({
                            JobId: d.JobId,
                            MaxFinish: d.TimeLimit
                        });
                    }
                });
                // Sort known pending jobs by start time
                jobs_pending_times.known.sort(function(a, b){
                    return (a.EligibleTime > b.EligibleTime) ? 1 : -1;
                });
                // Process running scheduling data
                jobs_running_times = dataset.qrunning.map(function(d){
                    return {
                        JobId: d.JobId,
                        StartTime: parseTime(d.StartTime),
                        CurFinish: addTimeDelta(parseTime(d.StartTime), d.RunTime),
                        MaxFinish: addTimeDelta(parseTime(d.StartTime), d.TimeLimit),
                        LastSchedEval: d.LastSchedEval
                    };
                });
                // Sort known running jobs by start time
                jobs_running_times.sort(function(a, b){
                    return (a.StartTime > b.StartTime) ? 1 : -1;
                });
                // Generate array of all known jobs for scaling
                all_known_jobs = jobs_pending_times.known.concat(jobs_running_times).map(function(d){
                    if( d.EligibleTime ){
                        return {
                            JobId: d.JobId,
                            JobStart: d.EligibleTime,
                            JobFinish: d.MaxFinish
                        };
                    } else {
                        return {
                            JobId: d.JobId,
                            JobStart: d.StartTime,
                            JobFinish: d.MaxFinish
                        };
                    }
                });
                // Process last queue evaluation
                last_qeval = parseTime(d3.max(jobs_running_times.map(function(d){ return d.LastSchedEval; })));
                // Process number of needed lanes
                lanes = getLanes(all_known_jobs);
                height = (lane_height * all_known_jobs.length) + (2 * xaxis_pad);
                job_height = lane_height - (2 * job_pad);
                // Process scales
                ext = d3.extent(lanes, function(d){ return d.id; }); // Return min and max id
                laneScale = d3.scaleLinear()
                    .domain([ext[0], ext[1] ])
                    .range([xaxis_pad, height-(xaxis_pad)]);
                timeScale = d3.scaleTime()
                    .domain([
                        d3.min(all_known_jobs.map(function(d){ return d.JobStart; }).concat(last_qeval)),
                        d3.max(all_known_jobs.map(function(d){ return d.JobFinish; }))
                    ])
                    .range([yaxis_pad, width-(2*yaxis_pad)]);
                jobIdScale = d3.scaleOrdinal()
                    .domain(all_known_jobs.map(function(d){ return d.JobId; }))
                    .range(lanes.map(function(d){ return d.id; }));
                // Process axes
                xAxisTop = d3.axisTop()
                    .scale(timeScale)
                    .tickFormat(formatTickTime)
                    .ticks(num_ticks);
                xAxisBottom = d3.axisBottom()
                    .scale(timeScale)
                    .tickFormat(formatTickTime)
                    .ticks(num_ticks);
                // Draw Schedule SVG area
                sched_svg = d3.select("#datavis-container")
                    .append("svg")
                        .attr("width", width)
                        .attr("height", height)
                        .attr("class", "sched-svg");
                // Draw main schedule graph area
                main_graph = sched_svg.append("g")
                    .attr("class", "main-graph")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")") // Allow margins in top and left
                    .attr("width", width)
                    .attr("height", height);
                // Draw lanes in main schedule graph
                lane_lines = main_graph.append("g")
                    .selectAll(".laneline")
                    .data(lanes)
                    .enter()
                    .append("line")
                        .attr("class", "laneline")
                        .attr("x1", yaxis_pad)
                        .attr("y1", function(d){ return (laneScale(d.id)); })
                        .attr("x2", width-(2*yaxis_pad))
                        .attr("y2", function(d){ return (laneScale(d.id)); })
                        .attr("stroke", "lightgray");
                // Draw pending jobs in main schedule graph
                pending_rects = main_graph.append("g")
                    .selectAll(".pending-job-item")
                    .data(jobs_pending_times.known)
                    .enter()
                    .append("rect")
                        .attr("class", "pending-job-item")
                        .attr("x", function(d){ return timeScale(d.EligibleTime); })
                        .attr("y", function(d){ return laneScale(jobIdScale(d.JobId)) + job_pad; })
                        .attr("width", function(d){ return timeScale(d.MaxFinish) - timeScale(d.EligibleTime); })
                        .attr("height", lane_height - (2*job_pad) )
                        .attr("fill", "lightgreen");
                // Draw running jobs in main schedule graph
                running_rects = main_graph.append("g")
                    .selectAll(".running-job-item")
                    .data(jobs_running_times)
                    .enter()
                    .append("rect")
                        .attr("class", "running-job-item")
                        .attr("x", function(d){ return timeScale(d.StartTime); })
                        .attr("y", function(d){ return laneScale(jobIdScale(d.JobId)) + job_pad; })
                        .attr("width", function(d){ return timeScale(d.MaxFinish) - timeScale(d.StartTime); })
                        .attr("height", lane_height - (2*job_pad) )
                        .attr("fill", "green");
                // Draw schedule evaluation line
                var sched_eval_marker = d3.select(".main-graph")
                    .append("line")
                    .attr("class", "sched-eval-marker")
                    .attr("x1", function(d){ return timeScale(last_qeval); })
                    .attr("y1", xaxis_pad)
                    .attr("x2", function(){ return timeScale(last_qeval); })
                    .attr("y2", function(){ return (height - xaxis_pad); })
                    .attr("stroke", "blue");
                // Draw axes
                xaxis_top = main_graph.append("g")
                    .attr("class", "axis")
                    .attr("class", "xaxis")
                    .attr("class", "xaxistop")
                    .attr("transform", "translate(0," + xaxis_pad + ")")
                    .call(xAxisTop);
                xaxis_bottoom = main_graph.append("g")
                    .attr("class", "axis")
                    .attr("class", "xaxis")
                    .attr("class", "xaxisbottom")
                    .attr("transform", "translate(0," + (height-xaxis_pad) + ")")
                    .call(xAxisBottom);
            };
            // Function to update dataset (called after request to server)
            var updateData = function(newdata) {
                // Update dataset
                dataset = newdata;

                /*
                 * PIE CHART
                 */
                //// Process pie-specific data
                //pie_data = [
                //    {"label": "running", "value": dataset.qrunning.length},
                //    {"label": "pending", "value": dataset.qpending.length},
                //    {"label": "blocked", "value": dataset.qblocked.length}
                //];
                //// Check for case of no jobs
                //if( pie_data[0].value == pie_data[1].value && pie_data[1].value == pie_data[2].value && pie_data[2].value == 0 ){
                //    pie_data = [
                //        {"label": "no jobs", "value": 1}
                //    ];
                //}
                //// Define colors to use
                //color = d3.scaleOrdinal()
                //    .domain(pie_data.map(function(d){ return d.value; }))
                //    .range(colors);
                //// Create groups per pie wedge
                //arcs = pie_svg.selectAll("g.arc")
                //    .data(pie(pie_data)); // Use generated pie data for wedge groups
                //// Draw arc paths
                //arcs
                //    .enter()
                //    .append("path")
                //    .attr("class", "arc")
                //    .attr("fill", function(d, i) {
                //        return color(i); // Color is dependent on index of category (queue)
                //    })
                //    .attr("d", arc) // Use the arc function to generate the path
                //// Generate text labels
                //arcs
                //    .enter()
                //    .append("text")
                //    .attr("transform", function(d) {
                //        return "translate(" + arc.centroid(d) + ")"; // Put text at mathematical center of wedge
                //    })
                //    .attr("text-anchor", "middle") // Anchor text at the middle of it
                //    .text(function(d) {
                //        if( d.value > 0 ) {
                //            return d.data.label; // We must use .value because we converted to pie data
                //        } else {
                //            return;
                //        }
                //    });

                /*
                 * SCHEDULE GRAPH
                 */
                // Process pending scheduling data
                jobs_pending_times = { known: [], unknown: [] };
                dataset.qpending.forEach(function(d){
                    if( d.EligibleTime != "Unknown" ){
                        jobs_pending_times.known.push({ 
                            JobId: d.JobId,
                            EligibleTime: parseTime(d.EligibleTime),
                            MaxFinish: addTimeDelta(parseTime(d.EligibleTime), d.TimeLimit)
                        });
                    } else {
                        jobs_pending_times.unknown.push({
                            JobId: d.JobId,
                            MaxFinish: d.TimeLimit
                        });
                    }
                });
                // Sort known pending jobs by start time
                jobs_pending_times.known.sort(function(a, b){
                    return (a.EligibleTime > b.EligibleTime) ? 1 : -1;
                });
                // Update number of needed lanes
                lanes = getLanes(jobs_pending_times.known);
                height = (lane_height * jobs_pending_times.known.length) + (2 * xaxis_pad);
                job_height = lane_height - (2 * job_pad);
                // Update scales
                ext = d3.extent(lanes, function(d){ return d.id; }); // Return min and max id
                laneScale
                    .domain([ext[0], ext[1] ])
                    .range([xaxis_pad, height-xaxis_pad]);
                timeScale
                    .domain([
                        d3.min(jobs_pending_times.known.map(function(d){ return d.EligibleTime; })),
                        d3.max(jobs_pending_times.known.map(function(d){ return d.MaxFinish; }))
                    ]);
                jobIdScale
                    .domain(jobs_pending_times.known.map(function(d){ return d.JobId; }))
                    .range(lanes.map(function(d){ return d.id; }));
                // Update SVG dimensions
                sched_svg = d3.select(".sched-svg")
                    .attr("height", height);
                main_graph = d3.select(".main-graph")
                    .attr("height", height);
                // Update lanes in main schedule graph
                lane_lines = main_graph.selectAll(".laneline")
                    .data(lanes)
                    .attr("class", "laneline")
                    .attr("x1", yaxis_pad)
                    .attr("y1", function(d){ return (laneScale(d.id)); })
                    .attr("x2", width-(2*yaxis_pad))
                    .attr("y2", function(d){ return (laneScale(d.id)); })
                    .attr("stroke", "lightgray");
                lane_lines.enter()
                    .append("line")
                        .attr("class", "laneline")
                        .attr("x1", yaxis_pad)
                        .attr("y1", function(d){ return (laneScale(d.id)); })
                        .attr("x2", width-(2*yaxis_pad))
                        .attr("y2", function(d){ return (laneScale(d.id)); })
                        .attr("stroke", "lightgray");
                lane_lines.exit()
                    .remove()
                // Update jobs in main schedule graph
                pending_rects = main_graph.selectAll(".pending-job-item")
                    .data(jobs_pending_times.known)
                    .attr("class", "pending-job-item")
                    .attr("x", function(d){ return timeScale(d.EligibleTime); })
                    .attr("y", function(d){ return laneScale(jobIdScale(d.JobId)) + job_pad; })
                    .attr("width", function(d){ return timeScale(d.MaxFinish) - timeScale(d.EligibleTime); })
                    .attr("height", lane_height - (2 * job_pad))
                    .attr("fill", "lightgreen");
                pending_rects.enter()
                    .append("rect")
                        .attr("class", "pending-job-item")
                        .attr("x", function(d){ return timeScale(d.EligibleTime); })
                        .attr("y", function(d){ return laneScale(jobIdScale(d.JobId)) + job_pad; })
                        .attr("width", function(d){ return timeScale(d.MaxFinish) - timeScale(d.EligibleTime); })
                        .attr("height", lane_height - (2 * job_pad))
                        .attr("fill", "lightgreen");
                pending_rects.exit()
                    .remove()
                // Update axes
                main_graph.select(".xaxistop")
                    .attr("transform", "translate(0," + xaxis_pad + ")")
                    .call(xAxisTop);
                main_graph.select(".xaxisbottom")
                    .attr("transform", "translate(0," + (height-xaxis_pad) + ")")
                    .call(xAxisBottom);
            };

            /*
             * Operation
             */
            // Get data from server and present it
            initData();

            jQuery(document).ready(function() {
                // Decide which menu to make visible
                if( $( 'input:radio[name="data-source"]:checked' ).val() == "Real Data" ){
                    $( "#sample-selection-container" ).hide();
                    $( "#real-selection-container" ).show();
                } else if( $('input:radio[name="data-source"]:checked').val() == "Sample Data" ){
                    $( "#sample-selection-container" ).show();
                    $( "#real-selection-container" ).hide();
                }
                /*
                 * Event Handlers
                 */
                // Update data if example update button clicked
                $( "#update-datafile-button" )
                    .on( "click", function() {
                        var radio_val = $( "input[name='data-selection']:checked").val();
                        var source;
                        var prefix = "201005.1648/";
                        if( radio_val ){
                            switch( radio_val ){
                                case "custom":
                                    source = document.getElementById("update-data-input").value;
                                    break;
                                case "idle":
                                    source = prefix + "1.idle";
                                    break;
                                case "small-short-full":
                                    source = prefix + "2.small-short-full";
                                    break;
                                case "large-head-long-small-tail":
                                    source = prefix + "3.large-head-long-small-tail";
                                    break;
                                case "large-head-long-small-tail-backfill-drain-gap":
                                    source = prefix + "4.large-head-long-small-tail-backfill-drain-gap";
                                    break;
                                case "large-head-long-small-tail-backfill-gap-filled-jobs-running":
                                    source = prefix + "5.large-head-long-small-tail-backfill-gap-filled-jobs-running";
                                    break;
                                case "arbitrary-random":
                                    source = prefix + "6.arbitrary-random";
                                    break;
                                case "dependent-jobs-tail":
                                    source = prefix + "7.dependent-jobs-tail";
                                    break;
                                case "tester":
                                    source = prefix + "tester";
                                    break;
                                default:
                                    console.log("Unknown option: " + radio_val);
                                    return;
                            }
                        }
                        fetchSampleData(source);
                    });
                // Update data if real update button clicked
                $( "#update-data-button" )
                    .on( "click", function() {
                        fetchRealData();
                    });
                $( 'input:radio[name="data-source"]' ).change(function() {
                    if( $(this).val() == "Real Data" ){
                        $( "#sample-selection-container" ).hide();
                        $( "#real-selection-container" ).show();
                    } else if( $(this).val() == "Sample Data" ){
                        $( "#sample-selection-container" ).show();
                        $( "#real-selection-container" ).hide();
                    }});
                // Update loading status on AJAX request
                $(document).on({
                    ajaxStart: function(){ 
                        $( "#loading-status-container" ).text("Loading..."); 
                        $( "#update-data-button" ).prop("disabled", true);
                    },
                    ajaxStop:  function(){ 
                        $( "#loading-status-container" ).text(""); 
                        $( "#update-data-button" ).prop("disabled", false);
                    }
                });
            });             
        </script>
{% endblock %}
